{% extends 'base/main.html' %}
{% block content %}

<div class="head-bar">
<h1>Rejestracja</h1>
</div>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}

        <label>{{form.username.label}}</label>
        {{form.username}}
    
        <label>{{form.password1.label}}</label>
        {{form.password1}}
        <label>
            Zasady tworzenia hasła
        </label>
    
        <label>{{form.password2.label}}</label>
        {{form.password2}}

        <input class="button" type='submit' value="Rejestracja">
    </form>

<p>Masz już konto ? <a href="{% url 'login' %}">Logowanie</a></p>
</div>


{% endblock content%}

